<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%=title%>
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="/aaa/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/aaa/css/heroic-features.css" rel="stylesheet">

    <link href='/stylesheets/style.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Timing</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2 style="text-align: right;font-family:BYekan;">!مشکل زمانبندی برای جلسه گروهی داری؟</h2>
            <p style="text-align: right;">تا حالا شده که بخوای یک تیم رو دور هم جمع کنی ولی ندونی چ افرادی چه زمان هایی میتونن بیان و هی تایم رو عوض کردی و به نتیجه نرسیدین!؟</p>
            <p style="text-align: right;">هدف این سایت دقیقا حل کردن این مشکله!!! فقط کافیه که یک جلسه درست کنی و لینکشُ به همه کسایی که قراره شرکت کنن بدی تا بیان تایم هاشونُ وارد کنن و تایم مشترک همه مشخص میشه </p>
            <!-- <p>Finding time of a meeting or something like that is allways hard, but with <b>Timing</b> we can make it easier!</p> -->
            <!-- <p>Just set the meeting TITLE and share the link ...</p> -->
            <br />
            <p class="col-md-4">
                <form method="post">
                    <input type="text" name="title" placeholder="عنوان جلسه">
                    <button class="btn btn-primary btn-large" type="submit">ساختن لینک</button>
                </form>
            </p>
        </header>

        <hr>

        <!-- Footer -->
        <% include footer %>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/aaa/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/aaa/js/bootstrap.min.js"></script>

</body>

</html>
