<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/plugins/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body>
    <!-- <h1><%= title %></h1> -->
    <p>.هماهنگی تایم ها همیشه کار سختیه ولی با این سایت آسونتر میشه</p>
    <p>#wecan</p>
    <form method="post">
        <input type="text" name="title"> : نام جلسه</input>
        <br />
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
    <p>کافیه لینکی رو که بهش میرسی برای دوستات بفرستی تا اون ها هم تایم هاشونُ وارد کنن.و بعد از یک روز همه چیز پاک میشه.</p>
</body>
<script src="/plugins/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

</html>
