/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
		Label the data
		*/
    td:nth-of-type(1):before {
        content: "";
    }
    td:nth-of-type(2):before {
        content: "8";
    }
    td:nth-of-type(3):before {
        content: "9";
    }
    td:nth-of-type(4):before {
        content: "10";
    }
    td:nth-of-type(5):before {
        content: "11";
    }
    td:nth-of-type(6):before {
        content: "12";
    }
    td:nth-of-type(7):before {
        content: "13";
    }
    td:nth-of-type(8):before {
        content: "14";
    }
    td:nth-of-type(9):before {
        content: "15";
    }
    td:nth-of-type(10):before {
        content: "16";
    }
    td:nth-of-type(11):before {
        content: "17";
    }
    td:nth-of-type(12):before {
        content: "18";
    }
    td:nth-of-type(13):before {
        content: "19";
    }
    td:nth-of-type(14):before {
        content: "20";
    }
    td:nth-of-type(15):before {
        content: "21";
    }
    td:nth-of-type(16):before {
        content: "22";
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}
@font-face {
    font-family: BYekan;
    src: url('/fonts/wYekan.eot?-5bd4u4');
    src: url("/fonts/wYekan.eot?#iefix-5bd4u4") format('embedded-opentype'), url("/fonts/wYekan.woff?-5bd4u4") format('woff'), url("/fonts/wYekan.ttf?-5bd4u4") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body {
    padding: 50px;
    font-family: BYekan;
    text-align: right;
}*/

p, a, h2, h3, button, input {
    font-family: BYekan, Times, serif;
    text-align: right;
}

/*p, a {
    font-size: 20px;
}*/

table, tr, td, th {
    text-align: center;
}
a {
    color: #00B7FF;
}
